---
export interface Props {
  imgSrc?: string;
  title?: string;
  subtitle?: string;
  agency?: string;
  tags?: string;
  projectHref?: string;
  agencyHref?: string;
}

const { imgSrc, title, subtitle, tags, projectHref, agencyHref, agency } = Astro.props;
---

<!-- <div class="work-card-wrapper">
  <a class="work-card" href={projectHref} target="_blank">
    <img class="work-card-img grayscale" src={imgSrc} alt={title} />
  </a>
  <div class="work-card-body">
    <a href={projectHref} target="_blank"><h3 class="work-card-title">{title}</h3></a>
    <a href={agencyHref} target="_blank"><h5 class="work-card-title">{agency}</h5></a>
    <h4 class="card-subtitle">{subtitle}</h4>
    <p class="work-card-tags">{tags}</p>
  </div>
</div> -->

<div class="container">
  <a
    target="_blank"
    title={projectHref}
    href={projectHref}>
  <div class="work-inner">
    <div class="work-image">
      <img width="980" height="553" src={imgSrc} alt={title} />
    </div>
    <div class="work-title"><h4>{title}</h4></div>
    <div class="work-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        viewBox="0 0 32 32"
        xml:space="preserve"
        ><g
          fill="none"
          stroke=""
          stroke-linejoin="round"
          stroke-miterlimit="10"
          stroke-width="2"
        >
          <path d="M15 1L31 1 31 17"> </path><path d="M31 1L1 31"> </path>
        </g>
      </svg>
    </div>
  </div>
</a>
</div>

<style>
  .container {
    width: 100%;
    padding: 1rem 5rem;
    max-width: 130rem;
    margin: 0 auto;
  }

  .work-inner {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
  }

  .work-image {
    width: 18rem;
    overflow: hidden;
    margin-left: -18rem;
    transition: margin 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .work-image img {
    width: 15rem;
    height: auto;
    border-radius: 0.5rem;
  }

  .work-inner:hover .work-image {
    margin-left: 0;
  }

  .work-title {
    flex: 1 1;
    font-size: 5rem;
  }

  .work-icon {
    width: 4vw;
    justify-self: flex-end;
    opacity: 0.1;
    transition: opacity 0.2s linear;
    stroke: var(--primary-text);
  }

  .work-inner:hover .work-icon {
    opacity: 1;
  }
</style>
