---
import WorkCard from "./WorkCard.astro";
import MyEquipmentSpecs from "../assets/MES.jpg";
import IronCraft from "../assets/IronCraft.jpg";
import PharmaMed from "../assets/PharmaMed.jpg";
import Tandim from "../assets/Tandim.jpg";
import QuickAttach from "../assets/QuickAttach.jpg";
---

<section id="work">
  <div class="section-content">
    <h3 class="section-title">
      <span class="mobile-hide">recent</span>
      <span class="title-accent emoji-replace">work</span>
    </h3>
    <div class="work-wrapper">
      <WorkCard
        imgSrc={PharmaMed}
        title="PharmaMed"
        agency="Bartlett Idea Co."
        tags="PHP | JS | WordPress"
        projectHref="https://pharmamedinc.com/"
      />
      <WorkCard
        imgSrc={QuickAttach}
        title="QuickAttach"
        agency="Bartlett Idea Co."
        tags="Liquid | JS | Shopify"
        projectHref="https://quickattach.com/"
      />
      <WorkCard
        imgSrc={MyEquipmentSpecs}
        title="MES"
        agency="Bartlett Idea Co."
        tags="PHP | JS | WordPress"
        projectHref="https://myequipmentspecs.com/"
      />
      <WorkCard
        imgSrc={IronCraft}
        title="IronCraft"
        agency="Bartlett Idea Co."
        tags="PHP | JS | WordPress"
        projectHref="https://ironcraftusa.com/"
      />
      <WorkCard
        imgSrc={Tandim}
        title="TANDIM"
        agency="ianwag"
        tags="Astro | JS"
        projectHref="https://tandimmusic.com/"
      />
    </div>
  </div>
</section>
<style>
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .section-content h3 {
    align-self: flex-start;
  }

  .section-title {
    font-size: 3.5rem;
    color: #8b8b8b;
  }

  .work-wrapper {
    width: 90rem;
    max-width: 100%;
  }

  .title-accent {
    color: var(--primary-text);
    font-weight: 700;
    font-size: 6rem;
  }

  @media only screen and (max-width: 761px) {
    .title-accent {
      font-size: 4rem;
    }
  }
</style>
